h1 {
  color: red;
  background-color: blue;
  margin: 20px;
  font-size: 50px;
  font-family: Comic Sans Ms;
  border: 20px solid;
}
p {
  color: #yellow;
  background-color: #00FF00;
  padding: 20px;
  font-family: JetBrains Mono;
  border: 20px solid;
  border-color: blue;
  text-align: center;
}
b {
  background-color: white;
   font-family: Georgia;
}
